* {
  margin: 0;
  padding: 0;
}

body {
    overflow: hidden;
}

.button {
    width: 300px;
    height: 150px;
    background: blueviolet;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 40%;
    color: wheat;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 3s linear;
}