:root {
  --color: slategrey;
  --border-radius: 10%;
  --border-width: 10px;
  --width: 10%;
  --height: 10%;
  --transparency: 10%;
  --blur: 5px;
  --brightness: 10%;
  --grayscale: 10%;
  --saturation: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.application {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
}

.application span {
  color: var(--color);
}

.work-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.work-area form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

img {
  width: var(--width);
  height: var(--height);
  border-color: var(--color);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-style: solid;
  filter: opacity(var(--opacity, 0%)) blur(var(--blur, 0px))
    brightness(var(--brightness, 0%)) grayscale(var(--grayscale, 0%))
    saturate(var(--saturate, 0%));
}
