/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

header, main, section, article, footer {
  display: block;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  transition: all 2s;
}

.header {
  height: 8.9rem;
  background: #2d303a;
  border-bottom: #323746 0.6rem solid;
  color: #ffffff;
  display: flex;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1020px) {
  .header__wrapper {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 0 2rem;
  }
}

.wrapper {
  width: 94rem;
  margin: 0 auto;
}

.screen {
  background: #F06C64;
  display: flex;
  flex-direction: row;
  padding-bottom: 6.5rem;
  padding-top: 6rem;
  border-bottom: 0.6rem solid #EA676B;
  display: none;
}

@media (max-width: 768px) {
  .screen {
    height: 22rem;
    padding: 0rem;
  }
}

.screen-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .screen-wrapper {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .screen-wrapper {
    padding: 0 1rem;
  }
}

@media (max-width: 375px) {
  .screen-wrapper {
    padding: 0 0.2rem;
  }
}

.arrow-left, .arrow-right {
  cursor: pointer;
}

.services {
  background: #f2f2f2;
  border-bottom: 0.6rem solid #ffffff;
}

@media (max-width: 1020px) {
  .services-wrapper {
    max-width: calc(100% - 8.4rem);
  }
}

@media (max-width: 768px) {
  .services-wrapper {
    max-width: calc(100% - 6.2rem);
  }
}

.services__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
  line-height: 3.6rem;
  padding-top: 6rem;
  margin-top: 0;
}

.services__summary {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  text-align: justify;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.6rem;
  padding-top: 4rem;
}

@media (max-width: 1020px) {
  .layout-3-column {
    padding-right: 3.3rem;
  }
}

@media (max-width: 768px) {
  .layout-3-column {
    padding-right: 0rem;
    justify-content: center;
  }
}

.services__item {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1020px) {
  .services__item {
    width: 50%;
    margin: 0rem;
    justify-content: start;
  }
  .services__item:nth-child(2n) {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .services__item {
    width: 51%;
    margin: 0rem;
    justify-content: center;
  }
  .services__item:nth-child(2n) {
    justify-content: center;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #666d89;
  border-radius: 50%;
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
}

.item__text h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  margin-top: 0;
  text-transform: capitalize;
}

.item__text p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767e9e;
  height: 7rem;
  width: 22rem;
  overflow: hidden;
}

.portfolio {
  background: #2d303a;
  border-bottom: 0.6rem solid #323746;
}

@media (max-width: 1020px) {
  .portfolio-wrapper {
    max-width: calc(100% - 8rem);
  }
}

@media (max-width: 768px) {
  .portfolio-wrapper {
    max-width: calc(100% - 6rem);
  }
}

.portfolio__title {
  font-family: "Lato", sans-serif;
  color: #666d89;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  padding-top: 6rem;
  margin-top: 0;
}

.portfolio__summary {
  font-family: "Lato", sans-serif;
  color: #767e9e;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 7rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .layout-4-column {
    justify-content: center;
  }
}

.portfolio-picture {
  width: 19.5vw;
  height: 16.7vw;
  margin-top: 2rem;
  margin-right: 2rem;
}

.portfolio-picture img {
  width: 100%;
  height: 100%;
}

.portfolio-picture:nth-child(4n) {
  margin-right: 0;
}

.portfolio-picture:nth-child(1n + 13) {
  display: none;
}

@media (min-width: 1021px) {
  .portfolio-picture {
    width: 22rem;
    height: 18.7rem;
  }
}

@media (max-width: 1020px) {
  .portfolio-picture {
    width: 26.5vw;
    height: 22vw;
  }
  .portfolio-picture:nth-child(4n) {
    margin-right: 2rem;
  }
  .portfolio-picture:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .portfolio-picture {
    width: 37.5vw;
    height: 30vw;
    margin-top: 1.3rem;
    margin-right: 1.3rem;
  }
  .portfolio-picture:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-picture:nth-child(3) {
    margin-right: 1.3rem;
  }
  .portfolio-picture:nth-child(9) {
    margin-right: 1.3rem;
  }
}

@media (max-width: 375px) {
  .portfolio-picture:nth-child(n) {
    width: 35.5vw;
    height: 29vw;
  }
}

.footer {
  background: #2D303A;
}

.copyright {
  font-family: "Lato", sans-serif;
  color: #666D89;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 3rem 0;
}

@media (max-width: 768px) {
  .copyright {
    display: none;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1020px) {
  .footer-wrapper {
    width: calc(100% - 8rem);
  }
}

.screen-second {
  background: #648BF0;
  padding-top: 4.5rem;
  padding-bottom: 6.5rem;
  display: none;
}

@media (max-width: 1020px) {
  .screen-second {
    height: 44.8rem;
    padding: 0rem;
  }
}

@media (max-width: 768px) {
  .screen-second {
    height: 21.9rem;
    padding: 0rem;
  }
}

.second-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

@media (max-width: 1020px) {
  .second-wrapper {
    padding: 0 3rem;
    height: inherit;
  }
}

@media (max-width: 768px) {
  .second-wrapper {
    padding: 0 1rem;
    height: inherit;
  }
}

.arrows:hover {
  fill: #9ee2e6;
}

.burger {
  z-index: 5;
  width: 2.5rem;
  height: 2.1rem;
  position: relative;
  display: none;
}

.burger:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger::before {
  width: 2.5rem;
  height: 0.2rem;
  background: #f2f2f2;
  content: '';
  border-radius: 0.5rem;
  position: absolute;
  top: 0rem;
  left: 0;
}

.burger::before:hover {
  background: #f06c64;
}

.burger::after {
  width: 2.5rem;
  height: 0.2rem;
  background: #f2f2f2;
  content: '';
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
}

.burger::after:hover {
  background: #f06c64;
}

.burger__line {
  width: 2.5rem;
  height: 0.2rem;
  background: #f2f2f2;
  content: '';
  border-radius: 0.5rem;
  position: absolute;
  top: calc(50% - 0.1rem);
}

.burger__line:hover {
  background: #f06c64;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .logo-container {
    margin: 0 auto;
  }
}

.logo-title,
.logo-symbol {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.logo-symbol {
  color: #f06c64;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navigation :first-child {
  list-style-type: none;
  margin-left: 0;
}

.navigation__item {
  margin: 0 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: -3.5%;
  transition: all 0.5s linear;
  letter-spacing: -0.035em;
}

.navigation__link:hover {
  color: #f06c64;
  text-decoration: underline;
}

.active {
  color: #f06c64;
  text-decoration: underline;
}

.slider {
  overflow: hidden;
  position: relative;
}

.screen-showed {
  display: flex;
}

.absolution {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}

.phones {
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5rem;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}

@media (max-width: 768px) {
  .phones {
    padding-bottom: 0;
  }
}

@media (max-width: 375px) {
  .phones {
    justify-content: center;
  }
}

.vertical-shadow {
  position: absolute;
}

@media (max-width: 1020px) {
  .vertical-shadow {
    width: calc(24rem * 0.75);
    height: calc(48.3rem * 0.75);
  }
}

@media (max-width: 768px) {
  .vertical-shadow {
    width: calc(24rem * 0.367);
    height: calc(48.3rem * 0.367);
  }
}

.first-vertical-container {
  width: 24rem;
  height: 48.3rem;
}

@media (max-width: 1020px) {
  .first-vertical-container {
    width: calc(24rem * 0.75);
    height: calc(48.3rem * 0.75);
  }
}

@media (max-width: 768px) {
  .first-vertical-container {
    width: calc(24rem * 0.367);
    height: calc(48.3rem * 0.367);
  }
}

.vertical-phone {
  width: 21.6rem;
  height: 45.8rem;
  background: #f2f2f2;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: flex-start;
  position: relative;
}

@media (max-width: 1020px) {
  .first-vertical-phone {
    width: calc(21.6rem * 0.75);
    height: calc(45.8rem * 0.75);
  }
}

@media (max-width: 768px) {
  .first-vertical-phone {
    width: calc(21.6rem * 0.367);
    height: calc(45.8rem * 0.367);
    border-radius: 1rem;
  }
}

.camera-and-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera {
  background: #eb5055;
  width: 0.394rem;
  height: 0.394rem;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem 0.25rem #d8d8d8;
  margin: 1rem auto;
}

@media (max-width: 1020px) {
  .first-camera {
    width: calc(0.394rem * 0.75);
    height: calc(0.394rem * 0.75);
    margin: 0.75rem auto;
  }
}

@media (max-width: 768px) {
  .first-camera {
    width: calc(0.394rem * 0.367);
    height: calc(0.394rem * 0.367);
    margin: 0.367rem auto;
  }
}

.speaker {
  width: 3.6rem;
  height: 0.5rem;
  background: #acacac;
  border-radius: 20%;
  margin: 1rem auto;
}

@media (max-width: 1020px) {
  .first-speaker {
    width: calc(3.6rem * 0.75);
    height: calc(0.5rem * 0.75);
    margin: 0.75rem auto;
  }
}

@media (max-width: 768px) {
  .first-speaker {
    width: calc(3.6rem * 0.367);
    height: calc(0.5rem * 0.367);
    margin: 0.367rem auto;
  }
}

.phone-screen {
  width: 18.8rem;
  height: 33.3rem;
  background: #161616;
  border: 0.3rem solid #c7c7c7;
  border-radius: 2%;
}

@media (max-width: 1020px) {
  .first-phone-screen {
    width: calc(18.8rem * 0.75);
    height: calc(33.3rem * 0.75);
  }
}

@media (max-width: 768px) {
  .first-phone-screen {
    width: calc(18.8rem * 0.367);
    height: calc(33.3rem * 0.367);
  }
}

.vertical-display {
  width: 100%;
  height: 100%;
}

.phone-button {
  width: 4.2rem;
  height: 4.2rem;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .first-phone-button {
    width: calc(4.2rem * 0.75);
    height: calc(4.2rem * 0.75);
  }
}

@media (max-width: 768px) {
  .first-phone-button {
    width: calc(4.2rem * 0.367);
    height: calc(4.2rem * 0.367);
  }
}

.phone-in-button {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #bababa;
  border-radius: 20%;
}

@media (max-width: 1020px) {
  .first-phone-in-button {
    width: calc(2rem * 0.75);
    height: calc(2rem * 0.75);
  }
}

@media (max-width: 768px) {
  .first-phone-in-button {
    width: calc(2rem * 0.367);
    height: calc(2rem * 0.367);
    border: 0.1rem solid #bababa;
  }
}

.horizontal-shadow {
  position: absolute;
}

@media (max-width: 1020px) {
  .horizontal-shadow {
    width: calc(48.3rem * 0.75);
    height: calc(24rem * 0.75);
  }
}

@media (max-width: 768px) {
  .horizontal-shadow {
    width: calc(48.3rem * 0.367);
    height: calc(24rem * 0.367);
  }
}

.horizontal-phone-container {
  display: flex;
  flex-direction: row;
  height: 24rem;
  width: 48.3rem;
  flex-shrink: 0;
  align-self: center;
}

@media (max-width: 1020px) {
  .horizontal-phone-container {
    width: calc(48.3rem * 0.75);
    height: calc(24rem * 0.75);
  }
}

@media (max-width: 768px) {
  .horizontal-phone-container {
    width: calc(48.3rem * 0.367);
    height: calc(24rem * 0.367);
  }
}

.horizontal-phone {
  height: 21.6rem;
  width: 45.8rem;
  background: #f2f2f2;
  border-radius: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

@media (max-width: 1020px) {
  .horizontal-phone {
    width: calc(45.8rem * 0.75);
    height: calc(21.6rem * 0.75);
  }
}

@media (max-width: 768px) {
  .horizontal-phone {
    width: calc(45.8rem * 0.367);
    height: calc(21.6rem * 0.367);
    border-radius: 1rem;
  }
}

.camera-and-speaker_horizontal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.camera_horizontal {
  background: #eb5055;
  width: 0.394rem;
  height: 0.394rem;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem 0.25rem #d8d8d8;
  margin: auto 1rem;
}

@media (max-width: 1020px) {
  .camera_horizontal {
    width: calc(0.394rem * 0.75);
    height: calc(0.394rem * 0.75);
    margin: auto 0.75rem;
  }
}

@media (max-width: 768px) {
  .camera_horizontal {
    width: calc(0.394rem * 0.367);
    height: calc(0.394rem * 0.367);
    margin: auto 0.367rem;
  }
}

.speaker_horizontal {
  height: 3.6rem;
  width: 0.5rem;
  background: #acacac;
  border-radius: 20%;
  margin: auto 1rem;
}

@media (max-width: 1020px) {
  .speaker_horizontal {
    width: calc(0.5rem * 0.75);
    height: calc(3.6rem * 0.75);
    margin: auto 0.75rem;
  }
}

@media (max-width: 768px) {
  .speaker_horizontal {
    width: calc(0.5rem * 0.367);
    height: calc(3.6rem * 0.367);
    margin: auto 0.367rem;
  }
}

.phone-screen_horizontal {
  height: 18.8rem;
  width: 33.3rem;
  background: #161616;
  border: 0.3rem solid #c7c7c7;
  border-radius: 2%;
}

@media (max-width: 1020px) {
  .phone-screen_horizontal {
    width: calc(33.3rem * 0.75);
    height: calc(18.8rem * 0.75);
  }
}

@media (max-width: 768px) {
  .phone-screen_horizontal {
    width: calc(33.3rem * 0.367);
    height: calc(18.8rem * 0.367);
  }
}

.horizontal-display_horizontal {
  width: 100%;
  height: 100%;
}

.phone-button_horizontal {
  width: 4.2rem;
  height: 4.2rem;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .phone-button_horizontal {
    width: calc(4.2rem * 0.75);
    height: calc(4.2rem * 0.75);
  }
}

@media (max-width: 768px) {
  .phone-button_horizontal {
    width: calc(4.2rem * 0.367);
    height: calc(4.2rem * 0.367);
  }
}

.phone-in-button_horizontal {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #bababa;
  border-radius: 20%;
}

@media (max-width: 1020px) {
  .phone-in-button_horizontal {
    width: calc(2rem * 0.75);
    height: calc(2rem * 0.75);
  }
}

@media (max-width: 768px) {
  .phone-in-button_horizontal {
    width: calc(2rem * 0.367);
    height: calc(2rem * 0.367);
    border: 0.1rem solid #bababa;
  }
}

.second-phones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2.5rem;
  padding-top: 3rem;
}

@media (max-width: 1020px) {
  .second-phones {
    height: inherit;
  }
}

@media (max-width: 768px) {
  .second-phones {
    height: inherit;
  }
}

.vertical-phone-container {
  margin-left: 5.5rem;
  display: flex;
  flex-direction: row;
  background-image: url(../../img/phones/vertical-shadow.png);
  width: 24rem;
  height: 48.3rem;
}

@media (max-width: 1020px) {
  .vertical-phone-container {
    transform: scale(0.75);
    margin: 0rem;
  }
}

@media (max-width: 768px) {
  .vertical-phone-container {
    transform: scale(0.367);
    margin: 0;
  }
}

.second-phone-container {
  margin: 0rem;
}

.second-main-phone {
  z-index: 2;
}

.second-phone-shadow {
  z-index: 1;
}

.second-left-phone {
  opacity: 0.5;
  transform: scale(0.65);
  position: absolute;
  right: 17rem;
}

@media (max-width: 1020px) {
  .second-left-phone {
    transform: scale(0.4875);
    right: 12.5rem;
  }
}

@media (max-width: 768px) {
  .second-left-phone {
    transform: scale(0.23855);
    right: 6rem;
  }
}

.second-right-phone {
  opacity: 0.5;
  transform: scale(0.65);
  position: absolute;
  left: 17rem;
}

@media (max-width: 1020px) {
  .second-right-phone {
    transform: scale(0.4875);
    left: 13rem;
  }
}

@media (max-width: 768px) {
  .second-right-phone {
    transform: scale(0.23855);
    left: 6rem;
  }
}

.second-left-arrow:hover {
  cursor: pointer;
}

.second-right-arrow:hover {
  cursor: pointer;
}

.portfolio__tags {
  display: flex;
}

.tag {
  font-family: "Lato", sans-serif;
  color: #767e9e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border: 0.1rem solid #767e9e;
  padding: 0.4rem;
  margin: auto 1rem auto 0;
  border-radius: 5%;
  transition: all 0.5s linear;
}

.tag:hover {
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}

.tag_selected {
  background-color: #f06c64;
  color: #ffffff;
}

.not-selected {
  opacity: 0.9;
}

.social-nets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}

@media (max-width: 768px) {
  .social-nets {
    margin: 0 auto;
  }
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #666D89;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  transition: border-color 0.3s linear;
}

.svg:hover {
  border-color: #F2F2F2;
  cursor: pointer;
}

.svg:nth-child(4) {
  margin-right: 0;
}

.svg-symbol {
  transition: fill 0.1s linear;
}

.svg-symbol:hover {
  fill: #F2F2F2;
  cursor: pointer;
}

.overlay {
  background: rgba(45, 48, 58, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  background: #2d303a;
  position: fixed;
  left: 0;
  top: 0;
  width: 0rem;
  height: 100%;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.4rem 0 18.4rem;
}

.modal__logo__title {
  font-size: 2rem;
}

.modal__nav {
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 19.5rem;
  justify-content: space-between;
  align-self: flex-end;
}

.modal__nav__links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: -0.035rem;
  color: #ffffff;
  transition: all 0.3s linear;
}

.modal__nav__links:hover {
  text-decoration: underline;
  color: #f06c64;
}

@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: 30rem;
  }
}

@keyframes hide {
  0% {
    width: 30rem;
  }
  100% {
    width: 0;
  }
}

.modal-appear {
  animation-name: show;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.modal-disappear {
  animation-name: hide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes burgerOn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes burgerOff {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.burger-roll {
  animation-name: burgerOn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.burger-unroll {
  animation-name: burgerOff;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
