* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.game {
    width: 100vw;
    height: 100vh;
    background-color: rgb(189, 164, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 4px;
}

.game__zone {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 80vh;
    margin-top: 50px;
}

.hole {
    width: 500px;
    height: 400px;

    border-bottom: 40px solid black;
    overflow: hidden;
}

.mole {
    background-image: url('rat.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    transform: translateY(100%);
}

.active-mole {
    transform: translateY(0);
}

.start-button {
    background-color: rgb(189, 64, 64);
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-decoration: none;
    color: rosybrown;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 40px;
}