$base-grey: #2d303a;
$header-border: #323746;
$header-text: #ffffff;
$base-red: #f06c64;
$text-color: #767e9e;
$base-white: #f2f2f2;

$phone-color: #f2f2f2;
$phone-button: #fafafa;
$phone-in-button: #bababa;
$phone-speaker: #acacac;
$phone-outer-circle: #d8d8d8;
$phone-circle: #eb5055;
$phone-screen: #161616;
$phone-screen-border: #c7c7c7;
$slide-arrows: #e94348;

$services-background: #f2f2f2;
$services-portfolio--title-and-footer: #666d89;

$portfolio-background: #2d303a;
