$base-red: #f06c64;

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media-tablet{
    margin: 0 auto;
  }
}

.logo-title,
.logo-symbol {
  @include font;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.03em
}

.logo-symbol {
  color: $base-red;
}
