$phone-color: #f2f2f2;
$phone-button: #fafafa;
$phone-in-button: #bababa;
$phone-speaker: #acacac;
$phone-outer-camera: #d8d8d8;
$phone-camera: #eb5055;
$phone-screen: #161616;
$phone-screen-border: #c7c7c7;

@mixin tablet-size {
  transform: scale(0.75);
}

@mixin mobile-size {
  transform: scale(0.367);
}

//phones-----general------------------------------
.phones{
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5rem;
  width: 100%;
  justify-content: space-between;
}


//vertical phone-------------------------------------------------------------

.vertical-phone-container {
  margin-left: 5.5rem;
  display: flex;
  flex-direction: row;
  background-image: url(../../img/phones/vertical-shadow.png);
  width: 24rem;
  height: 48.3rem;
  
  @include media-laptop{
    @include tablet-size;
    margin: 0rem;
  }

  @include media-tablet{
    @include mobile-size;
    margin: 0;
  }
}

.vertical-phone {
  width: 21.6rem;
  height: 45.8rem;
  background: $phone-color;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: flex-start;
  // box-shadow:
  //  0 0 0 rgb(184, 178, 178),
  // 0.5rem 0.5rem 0 rgb(184, 178, 178),
  // 1rem 1rem 0 rgb(184, 178, 178),
  // 1.5rem 1.5rem 0 rgb(184, 178, 178),
  // 2rem 2rem 0 rgb(184, 178, 178),
  // 2.5rem 2.5rem 0 rgb(184, 178, 178)
}

.camera-and-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera {
  background: $phone-camera;
  width: 0.394rem;
  height: 0.394rem;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem 0.25rem $phone-outer-camera;
  margin: 1rem auto;
}

.speaker {
  width: 3.6rem;
  height: 0.5rem;
  background: $phone-speaker;
  border-radius: 20%;
  margin: 1rem auto;
}

.phone-screen {
  width: 18.8rem;
  height: 33.3rem;
  background: $phone-screen;
  border: 0.3rem solid $phone-screen-border;
  border-radius: 2%;
}

.vertical-display {
  width: 100%;
  height: 100%;
}

.phone-button {
  width: 4.2rem;
  height: 4.2rem;
  background: $phone-button;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.phone-in-button {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid $phone-in-button;
  border-radius: 20%;
}

//horizontal-phone----------------------------------------------------------

.horizontal-phone-container {
    display: flex;
    flex-direction: row;
    background-image: url(../../img/phones/horizontal-shadow2.png);
    width: 24rem;
    height: 48.3rem;
    margin: 0 auto;
    transform: rotate(90deg);

    @include media-laptop{
      transform: rotate(90deg) scale(0.75);
    }

    @include media-tablet{
      transform: rotate(90deg) scale(0.367);
    }

  }
  
  .horizontal-phone {
    width: 21.6rem;
    height: 45.8rem;
    background: $phone-color;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: flex-end;

    // box-shadow:
    //  0 0 0 rgb(184, 178, 178),
    // 0.5rem 0.5rem 0 rgb(184, 178, 178),
    // 1rem 1rem 0 rgb(184, 178, 178),
    // 1.5rem 1.5rem 0 rgb(184, 178, 178),
    // 2rem 2rem 0 rgb(184, 178, 178),
    // 2.5rem 2.5rem 0 rgb(184, 178, 178)
  }
    
  .camera-and-speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .camera {
    background: $phone-camera;
    width: 0.394rem;
    height: 0.394rem;
    border-radius: 50%;
    box-shadow: 0 0 0.25rem 0.25rem $phone-outer-camera;
    margin: 1rem auto;
  }
  
  .speaker {
    width: 3.6rem;
    height: 0.5rem;
    background: $phone-speaker;
    border-radius: 20%;
    margin: 1rem auto;
  }
  
  .phone-screen {
    width: 18.8rem;
    height: 33.3rem;
    background: $phone-screen;
    border: 0.3rem solid $phone-screen-border;
    border-radius: 2%;
  }
  
  .horizontal-display {
    width: 100%;
    height: 100%;
  }
  
  .phone-button {
    width: 4.2rem;
    height: 4.2rem;
    background: $phone-button;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .phone-in-button {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid $phone-in-button;
    border-radius: 20%;
  }
