$text-color: #767e9e;
$base-red: #f06c64;

.portfolio__tags {
  display: flex;
}

.tag {
  @include font;
  color: $text-color;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border: 0.1rem solid $text-color;
  padding: 0.4rem;
  margin: auto 1rem auto 0;
  border-radius: 5%;
  transition: all 0.5s linear;

  &:hover{
    cursor: pointer;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.tag_selected{
  background-color: $base-red;
  color: #ffffff;
}

.not-selected{
  opacity: 0.9;
}