.second-phones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2.5rem;
    padding-top: 3rem;
    
    @include media-laptop{
        height: inherit;
    }

    @include media-tablet{
        height: inherit;
    }
}

.vertical-phone-container {
    margin-left: 5.5rem;
    display: flex;
    flex-direction: row;
    background-image: url(../../img/phones/vertical-shadow.png);
    width: 24rem;
    height: 48.3rem;
    
    @include media-laptop{
      @include tablet-size;
      margin: 0rem;
    }
  
    @include media-tablet{
      @include mobile-size;
      margin: 0;
    }
    
  }

.second-phone-container{
    margin: 0rem;
}

.second-main-phone{
  z-index: 2;
}

.second-phone-shadow{
    z-index: 1;
}

.second-left-phone{
    opacity: 0.5;
    transform: scale(0.65);
    position: absolute;
    right: 17rem;

    @include media-laptop{
        transform: scale(0.4875);
        right: 12.5rem;
    }

    @include media-tablet{
        transform: scale(0.23855);
        right: 6rem;
    }
}

.second-right-phone{
    opacity: 0.5;
    transform: scale(0.65);
    position: absolute;
    left: 17rem;
    @include media-laptop{
        transform: scale(0.4875);
        left: 13rem;
    }

    @include media-tablet{
        transform: scale(0.23855);
        left: 6rem;
    }
}

.second-left-arrow{
    &:hover{
        cursor: pointer;
    }
}

.second-right-arrow{
    &:hover{
        cursor: pointer;
    }
}
