.screen-second {
  background: #648BF0;
  padding-top: 4.5rem;
  padding-bottom: 6.5rem;
}

.second-wrapper {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.arrows:hover {
  fill: #9ee2e6;
}
