$base-red: #F06C64;

.screen{
    background: $base-red;
    display: flex;
    flex-direction: row;
    padding-bottom: 6.5rem;
    padding-top: 6rem;
    border-bottom: 0.6rem solid #EA676B;

    @include media-tablet{
        height: 22rem;
        padding: 0rem;
    }
}

.screen-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    @include media-laptop{
        padding: 0 3rem;
    }

    @include media-tablet{
        padding: 0 1rem;
    }

    @include media-mobile{
        padding: 0 0.2rem;
    }
}

.arrow-left, .arrow-right{
    cursor: pointer;
}
